/*================================================
 Variables
==================================================
 Cached values to be used throughout the project.
================================================*/
/*== Font Sizes ==*/
$font-s:  12px; // .75rem
$font-m:  16px; // 1rem
$font-l:  20px; // 1.25rem
$font-xl: 24px; // 1.5rem

/*== Vertical Spacing ==*/
$spacing-half: 6px;  // .375rem
$spacing-1x:   12px; // .75rem
$spacing-2x:   24px; // 1.5rem
$spacing-4x:   48px; // 3rem
$spacing-8x:   96px; // 6rem

/*== Colors ==*/
$color-primary:    #2D5E95;
$color-secondary:  #880000;
$color-grey-light: #ccc;
$color-grey:       #999;
$color-grey-dark:  #2A2A2A;